/* ENTIRE PAGE */

body {
    width: 901px;
    margin: 0px auto;
    font-family: serif;
}

/* HEADER */

header {
    height: 90px;
    border-bottom: 2px solid grey;
}

header img {
    float:left;
    margin-right: 5px;
}

nav {
    margin-top: 30px;
}

nav h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
}

nav p {
    text-transform: uppercase;
    font-family: 'Advent Pro', sans-serif;
    font-size: 8px;
    float: left;
}

div ul {
    position: relative;
    left: 225px;
    border: 3px solid #73AD21;
}

/* MAIN - BANNER*/

h2 {
 font-weight: bold;
 font-size: 30px;
 margin-top: 30px;
}

h3 {    
    text-transform: uppercase;
    font-family: 'Advent Pro', sans-serif;
    font-size: 10px;
    margin-bottom: 20px;
}

img {
    margin-bottom: 30px;
}
main p {
    line-height: 20px;
}

main p {
    margin-bottom: 20px;
    text-indent: 20px;
}

/* MAIN - SECTION*/

section img {
    z-index: 1;
    position: relative;
}

#list1 {
    z-index: 3;
    position: absolute;
    font-family: monospace;
    font-size: 20px;
    margin: 50px 0px 0px 100px;
}

#list2 {
    font-family: monospace;
    z-index: 2;
    position: absolute;
    margin: 50px 0px 0px 500px;
    font-size: 20px;
}

#break {
    display: block;
}


section li {
    list-style-type: square;
}

/* FOOTER */

#bio img {
    float: left;
    margin-right: 10px;
}

#bio p {
    float: left;
}

button {
    float: right;
}

footer {
    display: inline-block;
    margin: 60px 60px;
    text-align: center;
}